body {

}
.login-main {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background-image: url("aboutpic1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    filter: brightness(50%);
    z-index: -1;
    height: 180px;
}
.login-text{
    text-align:center;
    font-family:'Brush Script MT';
    padding:50px;
    font-size:50px;
}
.login-section{
    height:600px;
}
.email{
    margin-left:430px;
    font-size:16px;
}
.password{
    margin-left:430px;
    font-size:16px;
}
.inp1{
    margin-left:46px;
    margin-bottom:10px;
    padding:5px;
    border-radius:4px;
    width:350px;
   
}
.inp2 {
   margin-left:20px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 4px;
    width: 350px;
}
.login-text2{
    margin-left:570px;
    margin-top:14px;
}
.login-link{
    margin-left:618px;
    color:goldenrod;
}
.loginbtn{
    margin-left:600px;
    background-color:goldenrod;
    border:none;
    border-radius:3px;
    color:white;
    padding:10px;
    width:150px;
    margin-bottom:60px;
}
.loginbtn:hover{
    background-color:darkgoldenrod;
}