
@{
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}
<div>
    <div class="about-main"> </div>
    <h2 class="about-text">About us</h2>
    <div class="about-section1">
        <h4 style="margin-left:30px;color:goldenrod">History of Libra</h4>
        <div class="quote">
            <div>
                <p style="text-align: justify;">
                    At Libra Public Library, we are more than just a place to borrow books; we are a cornerstone of our vibrant community.
                    Established in 1952, our library has been dedicated to enriching lives and fostering a love of learning for over 70 years.
                    Our mission is to provide accessible and diverse resources that support education, personal growth, and cultural enrichment..
                </p>
            </div>
            <div>
                <img src="~/Content/About/aboutpic1.jpg" alt="Library Image" style="width:200px;height:150px;">
            </div>
        </div>
    </div>
    <div class="about-section2">
        <h4 style="margin-left: 30px; color: goldenrod">Our Mission</h4>
        <div class="quote2">
            <div>
                <img src="~/Content/About/aboutpic2.jpg" alt="Library" style="width:220px;height:160px" />
            </div>
            <div>
                <p style="text-align: justify;">
                    Our mission is to cultivate a lifelong love of reading and learning by offering a welcoming and inclusive space for all members of our community.
                    We aim to empower individuals through access to knowledge, creative programs, and innovative resources.
                </p>
            </div>

        </div>
    </div>
    <div class="about-section3">
        <h4 style="margin-left: 30px; color: goldenrod">Our Services</h4>
        <div class="quote3">
            <div>
                <h5>We offer a range of services to enhance your library experience, including:</h5>
                <ul style="text-align: justify;">
                    <li>Research Assistance: Our librarians are here to help with research projects and answer your information needs.</li>
                    <li>Digital Access: Enjoy our digital library with access to e-books, online databases, and streaming services</li>
                    <li>Study Rooms: Utilize our quiet study rooms or collaborative spaces for your academic or professional needs.</li>
                    <li>Technology Support: Access computers, printers, and other technology resources, with assistance available as needed.</li>
                </ul>
            </div>
            <div>
                <img src="~/Content/About/aboutpic3.jpg" style="height:250px;width:260px;" />
            </div>
        </div>
    </div>
</div>
